services:
  web:
    build:
      context: .
      dockerfile: web.Dockerfile
    image: flowcaseweb/flowcase:develop
    container_name: flowcase-web-dev
    restart: unless-stopped
    volumes:
      - .:/flowcase
      - flowcase-data:/flowcase/data
      - flowcase-nginx-data:/flowcase/nginx
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - FLASK_APP=run.py
      - FLASK_DEBUG=1
    ports:
      - "5000"
    networks:
      - default_network
    command: python run.py --debug

  nginx:
    image: nginx:1.28-alpine
    container_name: flowcase-nginx
    restart: unless-stopped
    volumes:
      - flowcase-nginx-data:/etc/nginx/conf.d
    ports:
      - "80:80"
    depends_on:
      - web
    networks:
      - default_network

networks:
  default_network:
    driver: bridge

volumes:
  flowcase-data:
    external: false
  flowcase-nginx-data:
    external: false