:root {
	--text-color: #f0f0f0;
	--text-color-gray: #a0a0a0;
	--background-color: #0d0b1b;
	--background-color-light: #141129;

	--primary-color: #0e6dbb;
	--primary-color-dark: #0a528d;

	--button-color: #0e6dbb;
	--button-color-hover: #0d62a7;

	--button-color-danger: #b41b1b;
}

html {
	background-color: var(--background-color);

	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	color: var(--text-color);
	font-family: 'Segoe UI', sans-serif;
}

body {
	margin: 0%;
}