/*(
html {
	background-image: url('/static/img/background1.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
*/

body {
	transition: all 0.2s;
	opacity: 0;
}

body.active {
	opacity: 1;
}

.container {
	min-height: 100%;
}

nav {
	display: flex;
	align-items: center;
	height: 64px;
}

nav h1 {
	padding-left: 24px;
}

/* disable flowcase text if screen is too small */
@media (max-width: 450px) {
	nav h1 {
		display: none;
	}

	nav .nav-links {
		margin-top: 24px;
		margin-right: auto;
	}
}

nav .nav-links
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	margin-left: auto;
}

nav .nav-links a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-right: 16px;

	color: var(--text-color);
	text-decoration: none;
}

nav .nav-links .fas {
	margin-left: 4px;
	margin-right: 4px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content .status {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.content .status .status-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	width: 256px;
	height: 96px;

	margin: 24px;
	padding: 16px;

	border-radius: 16px;
	box-shadow:  inset .8399999737739563px 0 #ffffff0a,inset -.8399999737739563px 0 #ffffff0a,inset 0 .8399999737739563px #fff3,0 12.800000190734863px 19.200000762939453px #0000003d,0 16px 32px #0000003d;

	backdrop-filter: blur(32px);

	transition: all 0.2s;
}

.content .status .status-card h2 {
	margin: 0px;
	align-self: flex-start;
	font-size: 14px;
	color: var(--text-color-gray);
}

.content .status .status-card .status-card-content {
	display: flex;
	flex-direction: row;
	align-items:flex-start
}

.content .status .status-card .status-card-content .status-card-title {
	margin: 0;
	margin-top: 4px;
	font-size: 28px;
	font-weight: bold;
}

.content .status .status-card .status-card-content .status-card-value {
	margin: 0;
	margin-top: 8px;
	font-size: 24px;
	font-weight: bold;
	color: var(--text-color-gray);
}

.content .status .progress-bar {
	width: 256px;
	height: 8px;
	margin-top: 34px;
	border-radius: 8px;
	background-color: #242424;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.content .status .progress-bar .progress {
	height: 100%;
	border-radius: 8px;
	background-color: var(--text-color);
}

.content .main {
	max-width: 1024px;
	display: flex;
	flex-direction: row;
	
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;
}

.droplet {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 96px;
	margin: 24px;

	height: 160px;
	max-height: 160px;

	transition: all 0.2s;
}

.droplet:hover {
	cursor: pointer;
	scale: 1.1;

	filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
}

.droplet:hover .droplet-image {
	filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
}

.droplet-image {
	width: 96px;
	height: 96px;

	border-radius: 24px;
	box-shadow:  inset .8399999737739563px 0 #ffffff0a,inset -.8399999737739563px 0 #ffffff0a,inset 0 .8399999737739563px #fff3,0 12.800000190734863px 19.200000762939453px #0000003d,0 16px 32px #0000003d;

	object-fit: cover;
}

.droplet-title {
	margin-top: 12px;
	margin-bottom: 0px;
	filter:  drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
	
	text-overflow: ellipsis;
	text-align: center;
}

.droplet-instances {
	position: fixed;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: row;

	border: 1px solid #fff4;
	border-radius: 40px;

	backdrop-filter: blur(4px);
}

.droplet-instances .droplet-instance {
	margin: 16px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.droplet-instances .droplet-instance:hover {
	cursor: pointer;
}

.droplet-instances .droplet-instance .droplet-instance-popup {
	display: flex;
	flex-direction: column;

	position: absolute;
	bottom: 100%;
	
	background-color: var(--background-color);
	border-radius: 16px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

	padding: 8px;

	transition: all 0.2s;
	opacity: 0;
	transform: translateY(32px);

	z-index: -10;

	pointer-events: none;
}

.droplet-instances .droplet-instance .droplet-instance-popup.active {
	display: flex;
	opacity: 1;
	transform: translateY(0px);

	z-index: 1;

	pointer-events: auto;
}

.droplet-instances .droplet-instance .droplet-instance-popup .droplet-instance-popup-title {
	margin: 0px;
	margin-bottom: 6px;
	margin-left: 4px;
}

.droplet-instances .droplet-instance .droplet-instance-popup img {
	width: 256px;
	height: 144px;
	border-radius: 8px;

	object-fit: contain;
	background-color: #000000;
}

.droplet-instances .droplet-instance .droplet-instance-popup .droplet-instance-popup-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.droplet-instances .droplet-instance .droplet-instance-popup .droplet-instance-popup-buttons p {
	margin: 8px;
	margin-top: 12px; 
	width: 50%;
	text-align: center;
}

.notifications
{
	position: fixed;
	bottom: 16px;
	right: 16px;

	z-index: 9999999;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.notifications .notification {
	display: flex;
	flex-direction: row;
	align-items: center;

	border-radius: 8px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

	padding: 8px;
	margin: 8px;

	transition: all 0.2s;
	transform: translateX(256px);
}

.notifications .notification:hover {
	cursor: pointer;
}

.notifications .notification.active {
	transform: translateX(0px);
}

.notifications .notification.info
{
	background-color: #387dd6
}

.notifications .notification.success
{
	background-color: #007a3d
}

.notifications .notification.error
{
	background-color: #bd0202
}

.notifications .notification p {
	margin: 0px;
}

.modal {
	display: flex;
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);

	align-content: center;
	justify-content: center;
	align-items: center;

	transition: all 0.2s;

	opacity: 0;

	pointer-events: none;
}

.modal.active {
	z-index: 100;
	opacity: 1;

	pointer-events: all;
}

.modal-content {
	background-color: var(--background-color);
	padding: 16px;

	border-radius: 8px;
	
	width: 80%;
	max-width: 512px;
	height: auto;

	transition: all 0.2s;
	scale: 0.8;
}

.active .modal-content {
	scale: 1;
}

.modal-content h2 {
	margin: 0%;
}

.modal-content p {
	margin-top: 4px;
	margin-bottom: 4px;
}

.modal-content .modal-buttons {
	display: flex;
	justify-content: right;
	flex-wrap: wrap;
}

.button-1 {
	background-color: #00000000;
	color: var(--text-color);
	border: 1px solid var(--primary-color);
	border-radius: 4px;
	padding: 8px 16px;
	margin: 8px;
	cursor: pointer;

	transition: all 0.2s;
}

.button-1:hover {
	background-color: var(--primary-color);
	color: var(--background-color);
}

.button-1:active {
	background-color: var(--primary-color);
	color: var(--background-color);
}

.button-1-full {
	background-color: var(--primary-color);
	color: var(--background-color);
	border: 1px solid var(--primary-color);
	border-radius: 4px;
	padding: 8px 16px;
	margin: 8px;
	cursor: pointer;

	transition: all 0.2s;
}

.button-1-full:hover {
	background-color: #0d0b1b;
	color: var(--text-color);
}

.button-1-full:active {
	background-color: #0d0b1b;
	color: var(--text-color);
}