#iframe-id {
	position:fixed;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	width:100%;
	height:100%;
	border:none;
	margin:0;
	padding:0;
	overflow:hidden;
	z-index:0;
}

.sidebar {
	position: fixed;
	top: 0;
	left: -424px;
	width: 424px;
	height: 100vh;
	
	z-index: 100;

	display: none;
	flex-direction: row;

	opacity: .95;

	/*transition transform*/
	transition: left 0.2s;
	transform: translateX(0px);

	pointer-events: none;
}

.sidebar.active {
	left: 0;

	pointer-events: all;
}

.sidebar .sidebar-main {
	flex: 1;
	overflow-y: auto;

	height: 100%;

	background-color: var(--background-color);

	padding: 32px;
}

.sidebar .sidebar-main hr {
	opacity: 0.4;
}

.sidebar .sidebar-main .sidebar-close {
	position: absolute;
	top: 24px;
	right: 48px;

	padding: 8px;

	cursor: pointer;
}

.sidebar .sidebar-main .sidebar-header h1 {
	margin: 0px;
	font-size: 20px;

	user-select: none;
}

.sidebar .sidebar-main .sidebar-content {
	display: flex;
	flex-direction: column;

	margin-top: 24px;

	overflow-y: auto;
}

.sidebar .sidebar-main .sidebar-content .sidebar-section {
	display: none;
	margin-bottom: 16px;

	padding: 16px;
	padding-top: 0%;
	
	flex-direction: column;
}

.sidebar .sidebar-main .sidebar-content .sidebar-section.active {
	display: flex;
}

.sidebar .sidebar-main .sidebar-content .sidebar-section a {
	text-decoration: none;
	color: var(--text-color);
	margin: 4px;

	cursor: pointer;
}

.sidebar .sidebar-main .sidebar-content .sidebar-section a:hover {
	color: var(--text-color-gray);
}

.sidebar .sidebar-main .sidebar-content .sidebar-section a i {
	margin-right: 4px;

	color: var(--text-color-gray);
	width: 16px;
}

.sidebar .sidebar-main .sidebar-content .sidebar-section #upload-section-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 16px;

	background-color: #282833;
	border: 2px dashed var(--text-color-gray);
	cursor: pointer;
}

.sidebar .sidebar-main .sidebar-content .sidebar-section .upload-section:hover {
	border: 2px dashed var(--text-color);
}

.dz-preview {
	width: 100%;
	margin: 4px !important;
	background-color: var(--background-color);
	border-radius: 8px;
	height: 54px !important;
	min-height: 0 !important;
}

.dz-preview .dz-image {
	display: none !important;
}

.dz-preview .dz-details {
	text-align: left !important;

	padding: 8px !important;
}

.dz-preview .dz-details .dz-filename {
	text-align: left !important;
}

.dz-preview .dz-details .dz-filename span {
	font-weight: 600;
	color: var(--text-color) !important;
	padding: 0px !important;
	background-color: transparent !important;
	border: none !important;
}

.dz-preview.dz-error .dz-details .dz-filename span {
	color: #cc0000 !important;
}

.dz-preview.dz-success .dz-details .dz-filename span {
	color: #53ff53 !important;
}

.dz-preview .dz-details .dz-size {
	text-align: left !important;
	margin: 0px !important;
	color: var(--text-color-gray) !important;
	font-size: 12px !important;
	font-weight: 400 !important;
}

.dz-preview .dz-details .dz-size * {
	color: var(--text-color-gray) !important;
	font-size: 12px !important;
	font-weight: 400 !important;
}

.dz-preview .dz-progress {
	left: 100% !important;
	top: 100% !important;
	margin-left: -8px !important;
	margin-top: -8px !important;

	margin-bottom: 8px !important;
	margin-right: 8px !important;
	
	transform: translate(-100%, -100%) !important;
}

.dz-preview .dz-error-message {
	top: 64px !important;
	left: 60px !important;
}


.sidebar .sidebar-main .sidebar-content .sidebar-button {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;

	padding: 8px 16px;

	border-radius: 8px;

	margin-bottom: 8px;

	cursor: pointer;
}

.sidebar .sidebar-main .sidebar-content .sidebar-button:hover {
	background-color: #393944;
}

.sidebar .sidebar-main .sidebar-content .sidebar-button.sidebar-button-danger {
	background-color: var(--button-color-danger);
}

.sidebar .sidebar-main .sidebar-content .sidebar-button i {
	width: 16px;
	text-align: center;
}

.sidebar .sidebar-main .sidebar-content .sidebar-button p {
	margin: 0px;
	margin-left: 16px;

	font-size: 16px;
	font-weight: 600;

	user-select: none;
}

.sidebar .sidebar-main .sidebar-content .sidebar-button .sidebar-input {
	margin-left: auto;

	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.sidebar .sidebar-main .sidebar-content .sidebar-button .sidebar-input select {
	background-color: #393944;
	color: var(--text-color);
	font-size: 12px;
	padding: 2px 12px;

	cursor: pointer;
}

.sidebar .sidebar-main .sidebar-content .sidebar-button .sidebar-input select:hover {
	background-color: var(--background-color);
}

.sidebar .sidebar-main .sidebar-content .sidebar-button .sidebar-input .select-multiple {
	height: 100%;
}

.sidebar .sidebar-main .sidebar-content .sidebar-button .sidebar-input input[type="checkbox"] {
	margin: 0px;
}

.sidebar .sidebar-handle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	pointer-events: all;

	background-color: var(--background-color);

	border-radius: 0px 8px 8px 0px;	

	height: 48px;
	width: 24px;
	
	position: absolute;
	top: 50%;
	left: 100%;
}


.sidebar .sidebar-handle:hover {
	cursor: pointer;
}

.sidebar .sidebar-handle .sidebar-handle-icon {
	margin: auto;
	margin-top: 13px;

	color: var(--text-color-gray);
	font-size: 14px;
	font-weight: bold;

	user-select: none;
	
	transition: transform 0.2s;
	transform: scaleX(1);
}

.sidebar.active .sidebar-handle .sidebar-handle-icon {
	transform: scaleX(-1);
}

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--background-color);
	z-index: 10000;
}

.loading-screen .loading-screen-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	background-color: var(--background-color);
}

#loading-screen-image {
	width: 192px;
	height: 192px;
	border-radius: 30%;
}

#loading-screen-name {
	margin: 0px;
	margin-top: 16px;
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
}

#loading-screen-status {
	margin: 0px;
	margin-top: 8px;
	font-size: 16px;
	font-weight: 400;
	color: var(--text-color-gray);
}