body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	padding: 20px;
	border-radius: 20px; /* Updated border-radius value */
	box-shadow:  inset .8399999737739563px 0 #ffffff0a,inset -.8399999737739563px 0 #ffffff0a,inset 0 .8399999737739563px #fff3,0 12.800000190734863px 19.200000762939453px #0000003d,0 16px 32px #0000003d;
}

.form_main {
	width: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px 30px 30px 30px;
	border-radius: 30px;
}

.heading {
	font-size: 2.5em;
	font-weight: 700;
	margin: 15px 0 30px 0;
}

.inputContainer {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inputIcon {
	position: absolute;
	left: 10px;
	scale: 0.8;
	color: var(--text-color-gray);
}

.inputField {
	width: 100%;
	height: 40px;
	background-color: #07060e;
	box-shadow: inset 0 1px 2px 2px #070707;
	border: none;
	border-radius: 30px;
	margin: 10px 0;
	color: var(--text-color);
	font-size: .8em;
	font-weight: 500;
	box-sizing: border-box;
	padding-left: 30px;
}

.inputField:focus {
	outline: none;
}

.inputField::placeholder {
	color: var(--text-color-gray);
	font-size: 1em;
	font-weight: 500;
}

#button {
	position: relative;
	width: 100%;
	border: 2px solid #0077ff;
	background-color: #0077ff;
	height: 40px;
	color: white;
	font-size: .8em;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 30px;
	margin: 10px;
	cursor: pointer;
	overflow: hidden;
}

#button::after {
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, 0.253);
	height: 100%;
	width: 150px;
	top: 0;
	left: -200px;
	border-bottom-right-radius: 100px;
	border-top-left-radius: 100px;
	filter: blur(10px);
	transition-duration: .5s;
}

#button:hover::after {
	transform: translateX(600px);
	transition-duration: .5s;
}