body {
    display: flex;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 256px;

    margin-left: auto;
    margin-right: auto;

    border: 1px solid #27272A;
    border-radius: 8px;

    padding: 1.5rem;
}

.form-container h2 {
    margin-top: 0;
    margin-bottom: 32px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-container .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}