<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" href="/favicon.ico">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="robots" content="noindex, nofollow">
		<title>Flowcase - 404</title>

		<link rel="stylesheet" href="/static/css/base.css">
		<style>
			body {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
			}

			a {
				font-weight: bold;
				color: var(--text-color);
			}
			
			.card {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="card">
			<h1>404</h1>
			<p>The page you are looking for does not exist.</p>
			<p>Return to the <a href="/">dashboard</a>.</p>
		</div>
	</body>
</html>