<!DOCTYPE html>
<html>
<head>
    <title>Flowcase - Dashboard</title>
    <script src="/static/js/dashboard.js"></script>
    <script src="/static/js/tailwind.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-gray-900" style="background: linear-gradient(to bottom, #00b4db, #0083b0);">
    <div class="flex">
    <div class="w-1/4 bg-gray-200 h-screen" style="width: 10%;">
        <!-- Left side navbar -->
        <ul class="p-4">

            <h1 class="text-2xl font-bold mb-4 ">User Info</h1>
            <ul class="mb-8 ">
                <li>Username: {{ current_user.username }}</li>
            </ul>

        <button class="cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg border-blue-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px]" style="width: 100%;">
            Home
        </button>

        <button class="cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg border-blue-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px]" style="width: 100%;">
            Settings
        </button>

        <button class="cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg border-blue-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px]" style="width: 100%;">
            Profile
        </button>
        
        </ul>
    </div>
    <div class="w-3/4">
        <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4 text-white">Droplets</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for droplet in droplets %}
        <div class="bg-white rounded-lg shadow-md p-4 relative">
            <h2 class="text-xl font-bold mb-2">{{ droplet.display_name }}</h2>
            <ul>
            <li>Description: {{ droplet.description }}</li>
            <li>Image: {{ droplet.container_docker_image }}</li>
            </ul>
            <button onclick="RequestNewInstance('{{droplet.id}}')" class="cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg border-blue-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px] absolute bottom-4 right-4">
            Launch
            </button>
        </div>
        {% endfor %}
        </div>

        <h1 class="text-2xl font-bold mt-8 mb-4 text-white">Your Instances</h1>
        <ul>
        {% for instance in instances %}
        <li>
            <a href="/droplet/{{ instance.id }}">
            <button class="cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg border-blue-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">
            {{ instance.display_name }}
            </button>
            </a>
        </li>
        {% endfor %}
        </ul>
        </div>
    </div>
    </div>
</body>
</html>
