<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" href="/static/img/flowcaselogo.png">
		<title>Flowcase</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="/static/css/base.css">
		<link rel="stylesheet" type="text/css" href="/static/css/droplet.css">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

		<script src="/static/dropzone/dropzone.min.js"></script>
		<link rel="stylesheet" href="/static/dropzone/dropzone.min.css">

		<script src="/static/js/jsmpeg.min.js"></script>
	</head>
	<body>

		<div class="sidebar">
			<div class="sidebar-main">
				<i class="fa fa-times sidebar-close" onclick="toggleSidebar()"></i>
				<div class="sidebar-header">
					<h1>Control Panel</h1>
				</div>
				<hr>
				<div class="sidebar-content">

					<div class="sidebar-button" onclick="FullscreenButton()">
						<i class="fa fa-expand"></i>
						<p>Fullscreen</p>

						<div class="sidebar-input">
							<i class="fa" id="control-fullscreen-check"></i>
							<input type="checkbox" id="control-fullscreen" hidden>
						</div>
					</div>

					<div class="sidebar-button" onclick="ToggleAudioButton()">
						<i class="fa fa-volume-up"></i>
						<p>Audio</p>

						<div class="sidebar-input">
							<i class="fa" id="control-audio-check"></i>
							<input type="checkbox" id="control-audio" hidden>
						</div>
					</div>

					<div class="sidebar-button" onclick="ToggleDownloadSection()">
						<i class="fa fa-download"></i>
						<p>Downloads</p>
					</div>

					<div class="sidebar-section" id="download-section">
					</div>

					<div class="sidebar-button" onclick="ToggleUploadSection()">
						<i class="fa fa-upload"></i>
						<p>Upload</p>
					</div>

					<div class="sidebar-section" id="upload-section">
						<form action="/desktop/{{instance_id}}/uploads/upload" class="dropzone" id="upload-section-main"></form>
					</div>

					<div class="sidebar-button" onclick="DisplayButton()">
						<i class="fa fa-desktop"></i>
						<p>Displays</p>
					</div>
					
					<div class="sidebar-button">
						<i class="fa fa-image"></i>
						<p>Stream Quality</p>
						
						<div class="sidebar-input">
							<select name="Quality" id="control-quality-select">
								<option value="0">Static</option>
								<option value="1">Low</option>
								<option value="2">Medium</option>
								<option value="3">High</option>
								<option value="4">Extreme</option>
							</select>
						</div>
					</div>

					<div class="sidebar-button" onclick="GameModeButton()">
						<i class="fa fa-gamepad"></i>
						<p>Game Mode</p>
						
						<div class="sidebar-input">
							<i class="fa" id="control-game-mode-check"></i>
							<input type="checkbox" id="control-game-mode" hidden>
						</div>
					</div>

					<div class="sidebar-button" onclick="DashboardButton()">
						<i class="fa fa-home"></i>
						<p>Dashboard</p>
					</div>

					<div class="sidebar-button" id="control-destroy-instance" onclick="DestroyDropletButton()">
						<i class="fa fa-trash"></i>
						<p>Destroy Droplet</p>
					</div>

				</div>
			</div>
			<div class="sidebar-handle" onclick="toggleSidebar()">
				<p class="sidebar-handle-icon">></p>
			</div>
		</div>

		<iframe src="/desktop/{{instance_id}}/vnc/vnc.html?path=/desktop/{{instance_id}}/vnc/websockify&amp;cursor=true&amp;resize=remote&amp;autoconnect=true&amp;reconnect=true&amp;clipboard_up=true&amp;clipboard_down=true&amp;clipboard_seamless=true&amp;toggle_control_panel=null" id="iframe-id" allow="autoplay; clipboard-read; clipboard-write; self;"></iframe>
	</body>
	<script>
		var iframe = document.getElementById('iframe-id');

		//fullscreen checkbox
		var fullscreenCheckbox = document.getElementById('control-fullscreen');
		fullscreenCheckbox.addEventListener('change', function() {
			if (fullscreenCheckbox.checked) {
				document.documentElement.requestFullscreen();
			} else {
				document.exitFullscreen();
			}
		});

		document.addEventListener("fullscreenchange", () => {
			fullscreenCheckbox.checked = document.fullscreenElement;
			document.getElementById('control-fullscreen-check').classList.toggle('fa-check');
		});

		function FullscreenButton() {
			fullscreenCheckbox.click();
		}

		function DisplayButton() {
			iframe.contentWindow.postMessage({action: "open_displays_mode"}, "*");
			toggleSidebar();
		}

		function DashboardButton() {
			toggleSidebar();
			AudioStop();
			iframe.style.display = 'none';
			window.location.href = "/dashboard";
		}

		function receiveMessage(event) {
			console.log(event.data);

			if (event.data.action == 'connection_state') {
				if (event.data.value == 'connected') {
					OnVNCSuccess();
				} else {
					iframe.style.display = 'none';
					document.querySelector('.sidebar').style.display = 'none';
				}
			} else if (event.data.action == 'enable_audio') { //This triggers when the user clicks the canvas, so we are going to use it to hide the sidebar
				if (event.data.value === null) {
					toggleSidebar("hide");
				}
			} else if (event.data.action == 'togglenav') {
				toggleSidebar();
			}
		}

		//wait for iframe to load
		iframe.onload = function() {
			//check if iframe has "KasmVNC" in the title, if not reload iframe
			if (!iframe.contentDocument.title.includes("KasmVNC")) {
				console.log("iframe not loaded, reloading...");
				setTimeout(function() {
					if(!iframe.contentDocument.title.includes("KasmVNC")) {
						iframe.src = iframe.src;
					}
				}, 100);
			}

			if (window.addEventListener) {
				window.addEventListener("message", receiveMessage, false);
				window.addEventListener("connection_state", receiveMessage, false);
			  } else if (window.attachEvent) {
				window.attachEvent("message", receiveMessage);
			  }
		}

		function OnVNCSuccess() {
			//show iframe
			iframe.style.display = 'block';
			document.querySelector('.sidebar').style.display = 'flex';

			//quality select
			var qualitySelect = document.getElementById('control-quality-select');
			qualitySelect.value = iframe.contentDocument.getElementById('noVNC_setting_video_quality').value;

			qualitySelect.addEventListener('change', function() {
				iframe.contentDocument.getElementById('noVNC_setting_video_quality').value = qualitySelect.value;
				iframe.contentDocument.getElementById('noVNC_setting_video_quality').dispatchEvent(new Event('change'));
			});
	
			//game mode checkbox
			var gameModeCheckbox = document.getElementById('control-game-mode');
			gameModeCheckbox.addEventListener('change', function() {
				iframe.contentDocument.getElementById('noVNC_game_mode_button').click();
				document.getElementById('control-game-mode-check').classList.toggle('fa-check');

				if (document.getElementById('control-game-mode-check').classList.contains('fa-check')) {
					toggleSidebar();
				}
			});

			//enable audio
			ToggleAudioButton();
		}

		var audioPlayer;
		function AudioInit() {
			var url = new URL(iframe.src);
			var protocol = url.protocol == 'https:' ? 'wss:' : 'ws:';
			
			//destroy previous audio player if it exists
			if (audioPlayer != null) {
				AudioStop();
			}

			audioPlayer = new JSMpeg.Player(protocol + '//' + url.host + '/desktop/{{instance_id}}/audio/', {
				audio: true,
				video: false,
			});
			console.log("Audio: Connected to audio websocket.");
		}

		function AudioStop() {
			try {
				audioPlayer.stop();
				audioPlayer.destroy();
				audioPlayer = null;
			} catch (error) {}
			console.log("Audio: Disconnected from audio websocket.");
		}

		function ToggleAudioButton() {
			var audioCheckbox = document.getElementById('control-audio');
			var audioIcon = document.getElementById('control-audio-check');
			audioCheckbox.checked = !audioCheckbox.checked;

			if (audioCheckbox.checked) {
				AudioInit();
				audioIcon.classList.add('fa-check');
			} else {
				AudioStop();
				audioIcon.classList.remove('fa-check');
			}
		}

		function GameModeButton() {
			document.getElementById('control-game-mode').click();
		}

		//downloads section
		function ToggleDownloadSection() {
			var downloadSection = document.getElementById('download-section');
			downloadSection.classList.toggle('active');

			if (downloadSection.classList.contains('active')) {
				FetchDownloads();
			}
		}

		var currentDownloadPath = '';
		function FetchDownloads(path = '') {
			currentDownloadPath = path;

			var url = "/desktop/{{instance_id}}/vnc/Downloads/Downloads/" + path;
			var xhr = new XMLHttpRequest();
			xhr.open("GET", url, true);
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.onreadystatechange = function () {
				if (xhr.readyState === 4) {
					//parse downloads by getting the a tags
					var parser = new DOMParser();
					var html = parser.parseFromString(xhr.responseText, 'text/html');
					var downloads = [];
					var aTags = html.getElementsByTagName('a');

					for (var i = 0; i < aTags.length; i++) {
						var aTag = aTags[i];
						var download = {
							name: aTag.innerText,
							url: url + aTag.innerText,
							isDirectory: aTag.innerText.endsWith('/')
						};
						downloads.push(download);
					}
					var downloadSection = document.getElementById('download-section');
					downloadSection.innerHTML = '';

					if (path != '' && path != '/') {
						//get parent directory
						var parentPath = path.split('/').slice(0, -2).join('/') + '/';

						downloadSection.innerHTML += `
						<a onclick="FetchDownloads('${parentPath}')"><i class="fa fa-arrow-left"></i> ..</a>
						`
					}

					if (downloads.length == 0) {
						downloadSection.innerHTML += '<p>No files found.</p>';
						return;
					}

					for (var i = 0; i < downloads.length; i++) {
						var download = downloads[i];
						
						if (download.isDirectory) {
							downloadSection.innerHTML += `
							<a onclick="FetchDownloads('${path + download.name}')"><i class="fa fa-folder"></i> ${download.name}</a>
							`
						} else {
							downloadSection.innerHTML += `
							<a download href="${download.url}"><i class="fa fa-file"></i> ${download.name}</a>
							`
						}
					}
				}
			};
			xhr.send();
		}

		function ToggleUploadSection() {
			var uploadSection = document.getElementById('upload-section');
			uploadSection.classList.toggle('active');
		}
				
		Dropzone.autoDiscover = false;
		let myDropzone = new Dropzone("#upload-section-main", {
			url: "/desktop/{{instance_id}}/uploads/upload",
			forceChunking: true,
			chunking: true,
			chunkSize: 10000000, //10MB
			parallelUploads: 20,
			maxFilesize: 16000000, //16GB
			autoProcessQueue: true,
			createImageThumbnails: false,
			clickable: true,
			previewTemplate: `
			<div class="dz-preview dz-file-preview">
				<div class="dz-details">
					<div class="dz-filename"><span data-dz-name></span></div>
					<div class="dz-size" data-dz-size></div>
				</div>
				<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
				<div class="dz-error-message"><span data-dz-errormessage></span></div>
			</div>
			`,
			init: function() {
				this.on("success", function(file, response) {
					setTimeout(() => {
						file.previewElement.remove();
					}, 3500);
				});
			}
		});

		//destroy droplet button
		function DestroyDropletButton()
		{
			if (!confirm("Are you sure you want to destroy this droplet?")) {
				return;
			}

			AudioStop();

			const destroyButtonIcon = document.getElementById('control-destroy-instance').querySelector('i');
			destroyButtonIcon.classList.remove('fa-trash');
			destroyButtonIcon.classList.add('fa-spinner');
			destroyButtonIcon.classList.add('fa-spin');

			toggleSidebar();
			iframe.style.display = 'none';

			var url = "/api/instance/{{instance_id}}/destroy";
			var xhr = new XMLHttpRequest();
			xhr.open("GET", url, true);
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.onreadystatechange = function () {
				if (xhr.readyState === 4) {
					window.location.href = "/dashboard";
				}
			};
			xhr.send();

			console.log("Requesting to destroy instance " + instanceID + "...");
		}
	</script>
	<script>
		//drag handle up and down
		var sidebar = document.querySelector('.sidebar');

		function toggleSidebar(action = null) {
			if (action == 'show') {
				sidebar.classList.add('active');
			} else if (action == 'hide') {
				sidebar.classList.remove('active');
			}
			else {
				sidebar.classList.toggle('active');
			}

			if (sidebar.classList.contains('active')) {
				//Refresh downloads if download section is active
				var downloadSection = document.getElementById('download-section');
				if (downloadSection.classList.contains('active')) {
					FetchDownloads(currentDownloadPath);
				}
			}
		}
	</script>
</html>
