<!DOCTYPE html>
<html>
<head>
	<title>Flowcase</title>

	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/droplet.css">
</head>
<body>
	<iframe src="/desktop/{{instance_id}}/vnc/vnc.html?path=/desktop/{{instance_id}}/vnc/websockify&amp;cursor=true&amp;resize=remote&amp;autoconnect=true&amp;reconnect=true&amp;clipboard_up=true&amp;clipboard_down=true&amp;clipboard_seamless=true&amp;toggle_control_panel=null" id="iframe-id" allow="autoplay; clipboard-read; clipboard-write; self;"></iframe>
</body>
</html>
