<!DOCTYPE html>
<html>
<head>
	<title>Flowcase</title>
</head>
<body>
	<iframe src="/desktop/{{instance_id}}/vnc/vnc.html?path=/vnc/ws?id={{instance_id}}&amp;cursor=true&amp;resize=remote&amp;autoconnect=true&amp;reconnect=true&amp;password=vncpassword&amp;logging=debug" id="iframe-id" ;="" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;" allow="autoplay; clipboard-read; clipboard-write; self;"></iframe>
</body>
</html>
