<!DOCTYPE html>
<html lang="en">
    <head>
            <link rel="icon" href="/favicon.ico">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flowcase - Login</title>

        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    
    <body>
        <div class="form-container">
            <div class="inner-content">
                <h2>Login</h2>
                <form class="form" action="/login" method="POST">
                    <div class="input-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="">
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="">
                        <div class="forgot">
                        </div>
                    </div>
                    <div class="remember-me">
                        <input type="checkbox" name="remember" id="remember">
                        <label for="remember">Remember me</label>
                    </div>
                    <button class="button-1-full">Sign in</button>
                    {% if error %}
                        <div class="error-message">
                            {{ error }}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </body>
</html>