<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flowcase - Login</title>

        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/login.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    
    <body>
        <div class="card">
            <form class="form_main" action="/login" method="POST">
                <p class="heading">Login</p>

                <div class="inputContainer">
                    <i class="fas fa-user inputIcon"></i>
                    <input placeholder="Username" id="username" name="username" class="inputField" type="text"> <!-- username -->
                </div>
                
                <div class="inputContainer">
                    <i class="fas fa-lock inputIcon"></i>
                    <input placeholder="Password" id="password" name="password" class="inputField" type="password"> <!-- password -->
                </div>
                        
                <button id="button">Submit</button>
            </form>
        </div>
    </body>
</html>
